<ul class="topnav">
    <li><a href="/">Home</a></li>
    <li><a href="/add">Add</a></li>
    <li><a class="active" href="/search">Search</a></li>
</ul>


<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">


                <div class="jumbotron"
                    style="background-image: url(https://media.treehugger.com/assets/images/2016/07/green-forest-trees.jpg.860x0_q70_crop-scale.jpg); background-size: 100%;">
                    <div class="tree_banner">
                    </div>
                </div>

                <h2>SEARCH BIRDS</h2>

                <div class="search-container">
                    
                        <form action="/api/one" method="GET" enctype="application/x-www-form-urlencoded">
                        <input type="text_search" placeholder="Search Bird Name.." name="search">

                        <button type="submit"><i class="fa fa-search"></i></button>
                        </form>

                        <br>
                        Bird Name: {{results.bird_name}}
                        <br>
                        Family: {{results.family}}
                        <br>
                        Voice: {{results.voice}}
                        <br>
                        Habitat: {{results.habitat}}
                        <br>
                        Place: {{results.places}}
                        
                    

                </div>
 
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
